.Translator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    columns: 1em;
}

@media screen and (min-width: 48em) {
    .Translator {
        grid-template-columns: repeat(8, 1fr);
    }
}

.TranslatorImage {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.TranslatorImageSelected {
    border: 5px solid var(--bs-teal);
}